
bin/
conda-meta/
DLLs/
include/
Lib/
Library/
libs/
Menu/
Scripts/
share/
Shared Libraries/
tcl/
Tools/
*.dll
*.h
COMP9417_HW1/include/pydtrace.d
COMP9417_HW1/LICENSE_PYTHON.txt
COMP9417_HW1/python.exe
COMP9417_HW1/python.pdb
COMP9417_HW1/python37.pdb
COMP9417_HW1/pythonw.exe
COMP9417_HW1/pythonw.pdb
COMP9417_HW1/.ipynb_checkpoints
COMP9417_HW2/.ipynb_checkpoints
COMP9417_HW1/datasets/
datasets.zip
COMP9417_HW1/sip/
qt.conf
.nonadmin
LICENSE_PYTHON.txt
python.exe
python.pdb
python39.pdb
pythonw.exe
pythonw.pdb
venvlauncher.exe
venvwlauncher.exe
balance-scale.arff
glass.arff
heart-h.arff
hw2.zip
primary-tumor.arff
COMP9417_HW2/Lab6_NeuralLearning_Qs.ipynb
